<a href="https://colab.research.google.com/github/nicowilliamxvii/TQHDC_CS441/blob/main/homework_pandas_manipulation%231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup environment and load data

Dataset: https://s3.hothienlac.com/yomitoon/sales_data.csv

In [ ]:
#read and connected from file

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/cacfilecsvbaitaptqhdl/sales_data.csv')
head = df.head()
print(head)

   order_id  order_date customer_id customer_name         city       product  \
0      1001  2024-01-02        C001         Alice     New York        Laptop
1      1002  2024-01-02        C002           Bob  Los Angeles    Headphones
2      1003  2024-01-03        C003       Charlie     New York  Office Chair
3      1004  2024-01-03        C001         Alice     New York         Mouse
4      1005  2024-01-04        C004         Diana      Chicago          Desk

      category  quantity  unit_price payment_method
0  Electronics         1        1200    Credit Card
1  Electronics         2         150         PayPal
2    Furniture         1         350    Credit Card
3  Electronics         3          25     Debit Card
4    Furniture         1         500  Bank Transfer

In [ ]:
df.dtypes

# ðŸŸ¢ LEVEL 1 â€” Basic Data Understanding (Score 1â€“3)

## **Q1. Load and inspect the dataset**

### Task

Load the CSV file and:

1. Display the first 5 rows
2. Show column names and data types

### ðŸ’¡ Hint

Use:

* `pd.read_csv`
* `.head()`
* `.info()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)

### ðŸ§  Explanation

You are learning how to **inspect unfamiliar data** quickly and verify that Pandas interpreted types correctly (dates, numbers, strings).

In [ ]:
# explantion

In [ ]:

df['order_date'] = pd.to_datetime(df['order_date'])

In [ ]:
df.info

In [ ]:
df.dtypes

## **Q2. Create a new column for total order value**

### Task

Create a new column called `total_amount`
Formula:

```
quantity Ã— unit_price
```

### ðŸ’¡ Hint

Use:

* `.assign()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html)

### ðŸ§  Explanation

This teaches **feature engineering** and the **functional Pandas mindset** (`inplace=False`, return a new DataFrame).

In [ ]:

#total_amount = quantity X unit_price


# Create revenue column
df['total_amount'] = df['quantity'] * df['unit_price']

In [ ]:
total_revenue = df['total_amount'].sum()
total_revenue

np.int64(4895)

In [ ]:
df['total_amount'].describe()

count      10.000000
mean      489.500000
std       402.288247
min        75.000000
25%       142.500000
50%       425.000000
75%       600.000000
max      1200.000000
Name: total_amount, dtype: float64

In [ ]:
#use assigndf = (
df = (
    df
    .assign(
        order_date=lambda x: pd.to_datetime(x['order_date']),
        total_amount=lambda x: x['quantity'] * x['unit_price']
    )
)

# ðŸŸ¡ LEVEL 2 â€” Filtering & Simple Analysis (Score 4â€“6)

## **Q3. Filter high-value orders**

### Task

Select only orders where:

* `total_amount > 500`

### ðŸ’¡ Hint

Use **one** of:

* `.query()`
* Boolean indexing (`df[condition]`)

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)

### ðŸ§  Explanation

Filtering is the foundation of **real data analysis**.
You learn how Pandas handles **boolean logic**.

In [ ]:
high_value_orders = df[df["total_amount"] > 500]
print(high_value_orders.head())
print(high_value_orders.shape)

In [ ]:
# Lá»c cÃ¡c Ä‘Æ¡n hÃ ng cÃ³ total_amount > 500
high_value_orders = df.query("total_amount > 500")

# Kiá»ƒm tra káº¿t quáº£
print(high_value_orders.head())
print(high_value_orders.shape)

## **Q4. Count how many orders each customer made**

### Task

Create a table showing:

* `customer_id`
* number of orders per customer

### ðŸ’¡ Hint

Use:

* `.groupby()`
* `.count()` **or** `.size()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

### ðŸ§  Explanation

You learn how Pandas **splits data into groups** and applies calculations per group.

In [ ]:
#create a table customer_id
#number of order()

In [ ]:
#use groupby
order_per_customer= (
    df.groupby("customer_id")
      .size()
      .reset_index(name="order_count")
)
order_per_customer.head()

In [ ]:
#use .count()
order_per_customer =(
    df.groupby("customer_id")["order_id"]
    .count()
    .reset_index(name="number_of_orders")

)
order_per_customer.head()

# ðŸ”´ LEVEL 3 â€” Aggregation & Time Awareness (Score 7â€“10)

## **Q5. Calculate total spending per customer**

### Task

For each `customer_id`, compute:

* Total money spent

### ðŸ’¡ Hint

Use:

* `.groupby()`
* `.agg()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)

### ðŸ§  Explanation

This introduces **aggregation pipelines** and prepares you for more complex analytics.

In [ ]:
total_money_spent = (
    df.groupby("customer_id")
    .agg(
        totel_spent=("total_amount", "sum")
    )
    .reset_index()
)
total_money_spent.head()

## **Q6. Daily revenue analysis**

### Task

Calculate:

1. Total revenue per day
2. Sort results by date

### ðŸ’¡ Hint

Use:

* `parse_dates` in `read_csv`
* `.groupby()`
* `.sort_values()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/user_guide/timeseries.html](https://pandas.pydata.org/docs/user_guide/timeseries.html)

### ðŸ§  Explanation

Time-based grouping is essential for **business dashboards and reports**.

In [ ]:
#q6
parse_dates=["order_date"]

In [ ]:
daily_revenue = (
    df.groupby("order_date")
      .agg(
        total_revenue=("total_amount","sum")
      )
      .reset_index()
)

#daily_revenue.head()

In [ ]:
daily_revenue = daily_revenue.sort_values("order_date")
daily_revenue.head()

## **Q7. Rank customers by spending**

### Task

Rank customers from highest to lowest total spending.

### ðŸ’¡ Hint

Use:

* `.rank()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.Series.rank.html](https://pandas.pydata.org/docs/reference/api/pandas.Series.rank.html)

### ðŸ§  Explanation

Ranking teaches you how Pandas handles **ordering, ties, and numeric comparisons**.

---

In [ ]:
customer_spending =(
    df.groupby("customer_id")
    .agg(
        #total_spending=("total_amount","sum")
    )
    .reset_index()
)
customer_spending.head()

  customer_id  total_spending
0        C001            1355
1        C002             900
2        C003             440
3        C004             500
4        C005            1100

In [ ]:
customer_spending["rank"] = (
    customer_spending["total_spending"]
    .rank(method = "dense",ascending=False)
)
customer_spending.head()

  customer_id  total_spending  rank
0        C001            1355   1.0
1        C002             900   3.0
2        C003             440   6.0
3        C004             500   5.0
4        C005            1100   2.0

# ðŸŽ¯ Learning Outcome by Level

| Level | You can nowâ€¦                             |
| ----- | ---------------------------------------- |
| 1     | Load, inspect, create columns            |
| 2     | Filter and group data                    |
| 3     | Aggregate, rank, and analyze time series |